<%- @tracks.each do |track| -%>
<div class="track">
  <a href="<%= track.store_url %>" rel="nofollow"><img src="<%= track.thumbnail_url %>" /></a>
  <h2><a href="<%= track.store_url %>" rel="nofollow"><%= track.title %></a></h2>
  <%= track.artist %> - <%= track.album %><br />
  <time><%= track.created_at.localtime('+09:00').strftime('%Y/%m/%d %H:%M:%S') %></time>
  <div class="clear"></div>
</div>
<%- end -%>
