<%- @tracks.each do |track| -%>
<div class="track">
  <img src="<%= track.thumbnail_url %>" />
  <h2><a href="<%= track.store_url %>" rel="nofollow"><%= track.title %></a></h2>
  <%= track.artist %> - <%= track.album %><br />
  <time><%= track.created_at.strftime('%Y/%m/%d %H:%M:%S') %></time><br />
  <div class="clear"></div>
</div>
<%- end -%>
