<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>聴いてる</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">聴いてる</a><%- unless @genre_name.blank? %> - <%= @genre_name %><%- end %></h1>
      <%= @user_name || '僕か僕の知り合い' %>が最近聴いた<%= @genre_name %><%= @tracks.size =%>曲です。
    </header>
    <div id="container">
      <%= yield %>
    </div>
    <footer>
      <a href="https://twitter.com/tomohi_ro">@tomohi_ro</a>
    </footer>
    <script type='text/javascript'>var _merchantSettings=_merchantSettings || [];_merchantSettings.push(['AT', '1010ldrf']);(function(){var autolink=document.createElement('script');autolink.type='text/javascript';autolink.async=true; autolink.src= ('https:' == document.location.protocol) ? 'https://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js' : 'http://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(autolink, s);})();</script>
  </body>
</html>
